<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-demo_plugin" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>DemoPluginCordova</name>
	<js-module name="DemoPluginCordova" src="www/DemoPluginCordova.js">
		<clobbers target="DemoPluginCordova" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="DemoPluginCordova">
				<param name="android-package" value="cordova-plugin-demo_plugin.DemoPluginCordova" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/DemoPluginCordova.java" target-dir="src/cordova-plugin-demo_plugin/DemoPluginCordova" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="DemoPluginCordova">
				<param name="ios-package" value="DemoPluginCordova" />
			</feature>
		</config-file>
		<source-file src="src/ios/DemoPluginCordova.m" />
	</platform>
</plugin>